<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juan.diabetapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".inicio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".consultar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".alimentos"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ejercicios"
            android:screenOrientation="portrait"
            />
        <activity android:name=".calculadora"
            android:screenOrientation="portrait"
            />
        <activity android:name=".registro"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Manzana"
            android:screenOrientation="portrait"
            />
        <activity android:name=".tarta"
            android:screenOrientation="portrait"
            />
        <activity android:name=".revuelto"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Albondigas"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Sorrentinos"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Caminar"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Natacion"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Bicicleta"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Entrenamiento"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Taichi"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>